[Unit]
Description=Buttons Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/display/button.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
